@import './settings.scss';

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// main {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   // max-width: 335px;

//   @media screen and (min-width: 426px) and (max-width: 1438px){
//     main {
//       max-width: 1240px;
//       min-width: 1240px;
//     }
//   }
// }

.main-container {
  max-width: 375px;
  min-width: 375px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  
  @media screen and (min-width: 1023px) and (max-width: 1920px){
    min-width: 900px;
  }
  @media screen and (min-width: 1438px) and (max-width: 1920px){
    max-width: 1240px;
    min-width: 1240px;
  }
  @media screen and (min-width: 426px) and (max-width: 1438px){
    max-width: 1240px;
  }
}